body
{
    background: rgb(224, 83, 83);
}

#output
{
    background: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
    width: 50%;
}

.num_div1 , .num_div2
	{
		padding: 10px;
		float: none;
        width: 90%;
	}
    

h2 
{
margin-top: 70px;
}

#player1_name , #player2_name
{
    display: inline-block;
    margin-left: 20px;
}